* {
  color: #f1f1f1;
  word-spacing: 5px;
}

body, button, input {
  font-family: 'ArcadeClassic', sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

label {
  display: block;
  font-size: 2vh;
}

button, input {
 color: black;
 font-size: 2vh;
}

button:hover {
  background-color: rgb(255, 242, 174);
}

form, .team {
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav a {
  display: inline-block;
  margin: 1em;
  font-size: larger;
}

nav a:hover {
  text-decoration: underline;
}

form div {
  margin: 1em;
  display: inline-block;
}

.pie {
  width: 800px;
  height: 800px;
}

#myVideo {
  position: fixed;
  right: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.content {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-body {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav {
  text-align: center;
}

#pokedex-logo {
  width: 30vw;
}

#bubble {
  background-image: url("/bubble.png");
  background-size: 400px 400px;
  width: 400px;
  height: 400px;
  background-repeat: no-repeat;
  z-index: 0;
  text-align: center;
  display: flex;
  align-content: center;
}

#bubble p {
  z-index: 10;
  font-size: 30px;
  color: black;
  padding: 30px;
  word-spacing: 10px;
}

#home {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
}

.tracking-in-expand {
	animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

table {
  width: 50vw;
  font-size: larger;
}

td {
  padding: 4px;
}

#twoPokemon {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.comparisonContainer {
  display: flex;
  flex-direction: column;
  width: 50vw;
}

#pokemon1 {
  background-color: gold;
}

#pokemon2 {
  background-color: lightskyblue;
}

.pokemonData {
  width:  60vw;
  text-align: center;
  border-radius: 25px;
  margin: 30px;
  text-shadow: 0px 2px 2px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#loading, #rejected {
  width: 200px;
}

.bar {
  width: 80vw;
}

.twoBar {
  width: 50vw;
}

.team-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.member0 {
  background-color: pink;
  text-shadow: 0px 2px 2px black;
  border-radius: 25px;
  padding: 10px;
  text-align: center;
  margin: 10px;
  width: 30vw;
}

.member1 {
  background-color: cornflowerblue;
  text-shadow: 0px 2px 2px black;
  border-radius: 25px;
  padding: 10px;
  text-align: center;
  margin: 10px;
  width: 30vw;
}

.member2 {
  background-color: darkseagreen;
  text-shadow: 0px 2px 2px black;
  border-radius: 25px;
  padding: 10px;
  text-align: center;
  margin: 10px;
  width: 30vw;
}

.member3 {
  background-color: mediumpurple;
  text-shadow: 0px 2px 2px black;
  border-radius: 25px;
  padding: 10px;
  text-align: center;
  margin: 10px;
  width: 30vw;
}

.member4 {
  background-color: indianred;
  text-shadow: 0px 2px 2px black;
  border-radius: 25px;
  padding: 10px;
  text-align: center;
  margin: 10px;
  width: 30vw;
}

.member5 {
  background-color: lightsalmon;
  text-shadow: 0px 2px 2px black;
  border-radius: 25px;
  padding: 10px;
  text-align: center;
  margin: 10px;
  width: 30vw;
}

.types {
  list-style-type: none;
  width:  20vw;
  text-align: center;
  text-shadow: 0px 2px 2px black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: larger;
}

.normal {
  background-color: rgb(157, 144, 129);
  border-radius: 25px;
  margin: 5px;
  width: 150px;
}

.fire {
  background-color: orange;
  border-radius: 25px;
  margin: 5px;
  width: 150px;
}

.water {
  background-color: rgb(41, 115, 242);
  border-radius: 25px;
  margin: 5px;
  width: 150px;
}

.grass {
  background-color: green;
  border-radius: 25px;
  margin: 5px;
  width: 150px;
}

.electric {
  background-color: rgb(198, 198, 60);
  border-radius: 25px;
  margin: 5px;
  width: 150px;
}

.ice {
  background-color: rgb(155, 201, 216);
  border-radius: 25px;
  margin: 5px;
  width: 150px;
}

.fighting {
  background-color: darkred;
  border-radius: 25px;
  margin: 5px;
  width: 150px;
}

.poison {
  background-color: purple;
  border-radius: 25px;
  margin: 5px;
  width: 150px;
}

.ground {
  background-color: sandybrown;
  border-radius: 25px;
  margin: 5px;  
  width: 150px;
}

.flying {
  background-color: rgb(180, 180, 255);
  border-radius: 25px;
  margin: 5px;
  width: 150px;
}

.psychic {
  background-color: palevioletred;
  border-radius: 25px;
  margin: 5px;
  width: 150px;
}

.bug {
  background-color: rgb(150, 161, 99);
  border-radius: 25px;
  margin: 5px;
  width: 150px;
}

.rock {
  background-color: rgb(164, 130, 86);
  border-radius: 25px;
  margin: 5px;
  width: 150px;
}

.ghost {
  background-color: rgb(56, 25, 56);
  border-radius: 25px;
  margin: 5px;
  width: 150px;
}

.dark {
  background-color: rgb(75, 75, 75);
  border-radius: 25px;
  margin: 5px;
  width: 150px;
}

.dragon {
  background-color: rgb(43, 0, 128);
  border-radius: 25px;
  margin: 5px;
  width: 150px;
}

.steel {
  background-color: silver;
  border-radius: 25px;
  margin: 5px;
  width: 150px;
}

.fairy {
  background-color: rgb(246, 174, 186);
  border-radius: 25px;
  margin: 5px;
  width: 150px;
}

/*----------------------------------------------
 * Generated by Animista on 2023-6-16 10:45:6
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
 @keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}


/* For smaller screens */
@media only screen and (max-width: 1050px) {
  #home {
    flex-direction: column;
  }
}